.slider{
    /* color: black; */
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white; 
}
.inner{
    width: 80%;
    padding: 10px;
}
.real_slide{
   
}
.child{
    padding: 50px;
}